body{
    background: #00aff0;
}
#top-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: white;
    box-shadow: 0 1px 1px #999;
}
#logo{
    width: 60px;
    display: inline-block;
    margin-left: 5%;
    padding: 5px 0px 5px 5px;
}
/*
.logo-name{
    text-decoration: none;
    display: inline-block;
    font-family: "Tw Cen MT Condensed";
    font-size: 35px;
    color: #00aff0;
    font-weight: 100;
    margin: 0;
    align-self: center;
    position: absolute;
    top: 15px;
}
*/
.logo-name{
    margin: 0;
    text-decoration: none;
    position: relative;
    top:-20px;
    display: inline-block;
    font-family: "Tw Cen MT Condensed";
    font-size: 35px;
    color: #00aff0;
    font-weight: 900;
}
#link{
    font-weight:600;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}

#container{
    width: 35%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-radius: 5px;
}

#title{
    color: #00aff0;
    font-size:30px;
    padding: 40px 0px 25px;
    text-align: center;
    font-weight: bold;
    font-family: "Merriweather";
}

#text{
    margin: 0 auto;
    text-align: center;
    font-size: 17px; 
    width: 90%;
    padding:0px 0px 20px;
    color: #888;
    font-family:"Ubuntu";
}

#forgot-password{
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0px 25px;
    box-shadow: 1px 1px 5px #ddd;
    font-size: 15px; 
    color: #00aff0;
    font-family:"Ubuntu";
}

input::-webkit-input-placeholder{
    color:#999;
}

#forgot-button{
    background: #00aff0;
    color: white;
    border-style: none;
    padding: 12px 40px 12px 40px;
    font-size: 15px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #0080af; 
    cursor: pointer;
    font-family:"Ubuntu";
}

#footer{
    background-color: #ddd;
    color: #555;
    padding: 5px 50px 5px 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Ubuntu";
}

#footer-content-bottom{
    background-color: #00384c;
    width: 100%;
    height: 60px;
    
}
#footer-content-top{
    background-color: #003f56;
    width: 100%;
    height: 250px;
}   
#copyright{
    position: relative;
    top: 20px;
    color: #aaa;
    left: 20%;
    font-family: "Roboto Slab";
}

@media screen and (max-width:1024px){
    #container{
        width: 50%;
    }
}

@media screen and (max-width:750px){
    #container{
        width: 70%;
    }
    .logo-name{
        font-size: 28px;
        top:-17px;
    }
    #logo{
        width:45px;
    }
}

@media screen and (max-width:550px){
    #container{
        width:90%;
    }
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

   .footer-bottom{
    background-color: #00384c;
    width: 100%;
    }

    .copyright{
        display: inline-block;
        position: relative;
        left: 10%;
        color: #aaa;
        font-size: 15px;
        font-family: "Roboto Slab"; 
        margin: 0;
        padding: 20px;
    }

@media only screen and (max-width:500px){
    .copyright{
        display: block;
        padding: 0;
        padding: 10px 0px 0px 10px;
        font-size: 14px;
        left: 0;
    }
    #adjustment-for-mobile{
        padding-bottom: 10px;
    }
}