body{
    background-image: url(birds-high-fly-flying-migrating-62667.jpeg);
    background: cover;
}
#formContainer{
    position: absolute;
    top:25%;
    left: 30%;
    background: rgba(17, 17, 17, 0.3);
    width:40%;
    padding: 40px 40px 60px 40px;
}
#logo{
    display: inline-block;
    width:10%;
    margin-bottom: 30px;
}
#logo-name{
    display: inline-block;
    font-size: 2.7vw;
    color: whitesmoke;
    padding-left: 10px;
    font-family: "Limelight";
    text-transform: uppercase;
}   
#formEmail{
    padding: 10px 20px 10px 60px;
    font-size: 20px;
    background: rgba(17, 17, 17 , 0);
    color: white;
    border: 2px solid #92bccc;
    width:100%;
    margin-bottom: 10px;
    font-family: "Limelight Molengo";
}
.inner-addon{
    position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 13px;
  pointer-events: none;
    font-size: 23px;
}
.left-addon .glyphicon  { 
    left:  0px;
    top:0px;
    color:#92bccc; 
    border: 2px solid #92bccc;
}
.left-addon input  { padding-left:  30px; }
/*
#test{
    position:absolute;
}
*/
#formPassword{
    padding: 10px 20px 10px 60px;
    font-size: 20px;
    background: rgba(17, 17, 17 , 0);
    color: white;
    border: 2px solid #92bccc;
    width:100%;
    margin-bottom: 20px;
    font-family: "Limelight Molengo";
}

input::-webkit-input-placeholder{
    color:#cce0e8;
}
#signUp-button{
    padding: 10px 50px 10px 50px;
    font-size: 25px;
    background: #00aff0;
    border: none;
    color: whitesmoke;
    font-family: "Limelight Molengo";
}