body{
  padding:0;
  margin:0;
}
#top-bar{
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: white;
    box-shadow: 0 1px 1px #999;
}
#logo-top-bar{
    width: 60px;
    display: inline-block;
    margin-left: 5%;
    padding: 5px 0px 5px 5px;
}
#logo-name-top-bar{
    text-decoration: none;
    display: inline-block;
    font-family: "Limelight";
    font-size: 35px;
    color: #00aff0;
    font-weight: 100;
    margin: 0;
    position: absolute;
    top: 10px;
}
.paddingTopics{
  padding-left:10px;
  
}
.heading{
  padding-bottom:20px;
  padding-top:30px;
  color:#00aff0 ;
 
}
#logoPreview{
    height:150px;
    padding: 0;
    margin : 10px; 
}

#terms{
    left: 0px;
}
#background{
    width: 100%;
    height: 100%;
    background-image: url(birds-high-fly-flying-migrating-62667.jpeg);
    background: cover;
}
#formContainer{
    position: absolute;
    top:15%;
    left: 30%;
    background: rgba(17, 17, 17, 0.3);
    width:40%;
    padding: 40px 40px 60px 40px;
}
#logo{
    display: inline-block;
    width:60px;
    margin-bottom: 30px;
}
#logo-name{
    display: inline-block;
    font-size: 45px;
    color: whitesmoke;
    padding-left: 10px;
    font-family: "Limelight";
    text-transform: uppercase;
}   
#formEmail{
    padding: 10px 20px 10px 60px;
    font-size: 20px;
    background: rgba(17, 17, 17 , 0);
    color: white;
    border: 2px solid #92bccc;
    width:100%;
    margin-bottom: 10px;
    font-family: "Limelight Molengo";
}
.inner-addon{
    position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 13px;
  pointer-events: none;
    font-size: 23px;
}
.left-addon .glyphicon  { 
    left:  0px;
    top:0px;
    color:#92bccc; 
    border: 2px solid #92bccc;
}
.left-addon input  { padding-left:  30px; }
/*
#test{
    position:absolute;
}
*/
#formPassword{
    padding: 10px 20px 10px 60px;
    font-size: 20px;
    background: rgba(17, 17, 17 , 0);
    color: white;
    border: 2px solid #92bccc;
    width:100%;
    margin-bottom: 10px;
    font-family: "Limelight Molengo";
}

#formConfirmPassword{
    padding: 10px 20px 10px 60px;
    font-size: 20px;
    background: rgba(17, 17, 17 , 0);
    color: white;
    border: 2px solid #92bccc;
    width:100%;
    margin-bottom: 20px;
    font-family: "Limelight Molengo";
}

input::-webkit-input-placeholder{
    color:#cce0e8;
}
#signUp-button{
    padding: 10px 50px 10px 50px;
    font-size: 25px;
    background: #00aff0;
    border: none;
    color: whitesmoke;
    font-family: "Merriweather:700";
}
@media only screen and (max-width : 1024px)
{
    #formContainer{
        width: 60%;
        left:20%;
    }

}

@media only screen and (max-width : 650px){
    #formContainer{
        width: 90%; 
        left: 5%;
        top:10%;
        height: 80%;
    }
    #logo{
        width: 45px;
        margin-top: 12px 
    }
    #logo-name{
        font-size: 30px;  
    }
    #logo-name-top-bar{
        font-size: 25px;
        top: 10px;
    }
    #logo-top-bar{
        width:45px;
    }
    #formEmail{
        font-size: 18px;
        padding: 5px 10px 5px 50px;
        margin-bottom: 0px;
    }
    #formPassword{
        font-size: 18px;
        padding: 5px 10px 5px 50px;
        margin-bottom: 0px;
        
    }
    #formConfirmPassword{
        font-size: 18px;
        padding: 5px 10px 5px 50px;
        margin-bottom: 10px;
    }
    .inner-addon .glyphicon{
        font-size: 17px;
        padding: 9px;
    }
    #signUp-button{
        padding: 7px 30px 7px 30px;
        font-size: 20px;
    }
}






