html{
    height: 100%;
}
body{
    background-image: url(news-laptop-background.jpg);
    background-size: cover;
/*    background-repeat:   no-repeat;*/
/*    background-position: center center; */
    height: 100%;
}
#top-bar{
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: white;
    box-shadow: 0 1px 1px #999;
}
#logo{
    width: 60px;
    display: inline-block;
    margin-left: 5%;
    padding: 5px 0px 5px 5px;
}
.logo-name{
    margin: 0;
    text-decoration: none;
    position: relative;
    top:10px;
    display: inline-block;
    font-family: "Tw Cen MT Condensed";
    font-size: 35px;
    color: #00aff0;
    font-weight: 900;
}
#link{
    font-weight:600;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
#back-button{
    position:absolute;
    margin: 0;
    top:100px;
    left:2%;
    font-size: 20px;
    font-family: "Roboto Slab";
    color:whitesmoke;
    background: #f04100;
    box-shadow: 2px 2px 2px #777;
    cursor: pointer;
}

.cropper-container {
  margin: 0 auto 20px auto; 
}

#title{
    text-align: center;
    position: relative;
    margin-top:6%;
    color: #F04100;
    font-family: "Roboto Slab";
    font-size: 50px;
}

#post-news-body{
    height:auto;
    width:50%;
    margin: 0 auto;
    background: #00aff0;
    position:relative;
    margin-top:6%;
    box-shadow: 5px 5px 5px #777;
    border-radius: 0px;
    margin-bottom: 100px;
    top: 120px;
}

#title-label{
    background: #00aff0;
    border: none;
    font-size: 20px;
    color: whitesmoke;
    font-family: "Roboto Slab";
}

#title-input{
    text-decoration: none;
    font-size: 20px;
    width:90%;
    margin: 0 auto;
    height: 35px;   
    font-family: "Roboto Slab";
}

#description-input{
    font-size: 20px;
    width:90%;
    margin: 0 auto;
    font-family: "Roboto Slab";
    height: 35px;
}

#image-label{
    position: relative;
    font-size: 20px;
    color: whitesmoke;
    top: 10px;
    left: 15px;
    font-family: "Roboto Slab";
}

.cropped-image-preview{
    height: 500px;
    width: 500px;
    margin-bottom: 10px;
}
#position{
    position: fixed; 
    top:25%; 
    left: 35%;    
    }

@media only screen and (max-width:1100px){
    #post-news-body{
        width:70%;
    }
}

@media only screen and (max-width:768px){
    body{
        background-image: url(news-phone-background.jpg);
        background-size: 120%;
    }
    #post-news-body{
        width: 90%;
        left: -1%;
    }
    .cropped-image-preview{
        height: 300px;
        width: 300px;
    }
    #title{
        margin-top: 50px
    }
    #back-button{
        font-size: 15px;
        top:70px;
    }
    #position{
        top: 30%;
        left:10%;
    }
    #logo{
        width: 45px;
    }
    .logo-name{
        font-size: 25px;
        top: 6px;
    }
    #position{
        position: relative;
        left: 2%;
    }
    
}
.file-upload{
    display:block;
    text-align:center;
    font-size: 12px;
}
.file-upload .file-select
{
    width: 90%;
    display:block;
    border: none;
    color: #34495e;
    cursor:pointer;
    height:40px;
    line-height:40px;
    text-align:left;
    background:#FFFFFF;
    overflow:hidden;
    position:relative;
    left:5%;
    top:10px;
    margin-bottom: 30px;
}
.file-upload .file-select .file-select-button
{
    background:#dce4ec;
    padding:0 10px;
    display:inline-block;
    height:40px;
    line-height:40px;
}
.file-upload .file-select .file-select-name
{
    line-height:40px;
    display:inline-block;
    padding:0 10px;
}
.file-upload .file-select:hover
{
    border-color:#34495e;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
.file-upload .file-select:hover .file-select-button
{
    background:#34495e;
    color:#FFFFFF;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
.file-upload.active .file-select
{
    border-color:#3fa46a;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
.file-upload.active .file-select .file-select-button
{
    background:#3fa46a;
    color:#FFFFFF;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
.file-upload .file-select input[type=file]
{
    z-index:100;
    cursor:pointer;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:0;
    filter:alpha(opacity=0);
}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover
{
    cursor:default;
    display:block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor:pointer;
    height:40px;
    line-height:40px;
    margin-top:5px;
    text-align:left;
    background:#FFFFFF;
    overflow:hidden;
    position:relative;
}
.file-upload .file-select.file-select-disabled:hover .file-select-button
{
    background:#dce4ec;
    color:#666666;
    padding:0 10px;
    display:inline-block;
    height:40px;
    line-height:40px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name
{
    line-height:40px;
    display:inline-block;
    padding:0 10px;
}

#image-button{
    background: #00aff0;
    color: whitesmoke;
}   

#upload-button{ 
    position: absolute;
    margin-top: -22px; 
    margin-left: 85%;
    background: #F04100;
    border-radius:50%;
    border: none;
    box-shadow: 5px 5px 5px #777;
    cursor:pointer;
    height:60px;
    width:60px;
    
}
#upload-button:active{
    margin-top: -20px;
}
#upload-button:focus{
 outline: 0;   
}

#upload-icon{
    position: relative;
    top:1px;
    left:-2px;
    line-height: 60px;
    color:whitesmoke;
}

#modal-heading{
    color:#f04100;
    font-family: "Roboto Slab";
    padding: 20px;
    background: whitesmoke;
}

#save-button{
    padding: 10px 40px 10px 40px;
    font-size: 20px;
    font-family: "Roboto Slab";
    margin-bottom: 20px;
}

#uploader{
    width:50%;
    -webkit-appearance:none;
    appearance:none;
}


@media only screen and (max-width:500px){
    #position{
        left: -5px;
    }
}

#formUsername{
    display: block;
    border-width: 1.5px;
    border-color: whitesmoke;
    width: 80%;
    margin: 0 auto;
    background: whitesmoke;
    border-bottom-color: #777;
    border-top-color: whitesmoke;
    color: #777;
    padding: 8px 8px 8px 20px;
    font-family:'Molengo', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border-style:solid;
    text-decoration: none;
    margin-top: 10px;
}
#formUsername::-webkit-input-placeholder{
    color: #00aff0;
    font-size: 17px;
}

#formPassword{
    display: block;
    border-width: 1.5px;
    border-color: whitesmoke;
    width: 80%;
    margin: 0 auto;
    background: whitesmoke;
    border-bottom-color: #777;
    border-top-color: whitesmoke;
    color: #777;
    padding: 8px 8px 8px 20px;
    font-family:'Molengo', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border-style:solid;
    text-decoration: none;
    margin-top: -20px;
}

#formPassword::-webkit-input-placeholder{
    color: #00aff0;
    font-size: 17px;
}

.modal-title{
    color: #00aff0;
    font-size: 25px;
}

#modal-background{
    background: whitesmoke;
    border-radius: 10px;
}

#background-inner{
    display: block;
    background: whitesmoke;
}

#login-button{
    background: #00aff0;
    color:whitesmoke;
    text-transform: uppercase;
    font-weight: bold;
    padding: 13px 35px 10px 35px;
    margin: -5px 20px 25px ;
    margin-left: 10%;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #475DFF;
}

#login-button:hover{
    box-shadow: inset 0 120px 0 0 #475dff;
    transition: all 1s ease; 
}

#login-button:active{
    position: relative;
    top:-1px;
}

#close-button{
    color: #00aff0;
    font-size: 30px;
}

.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
#formUsername:focus 		{ outline:none; }

#label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:11%;
  top:15px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

#formUsername:focus ~ label, #formUsername:valid ~ label 		{
  top:-10px;
  font-size:14px;
  color:#00aff0;
}

.bar 	{ position:relative; display:block; width:90%; }
.bar:before, .bar:after 	{
  content:'';
  height:2.1px; 
  width:0;
  bottom:0px; 
    left:11%;
  position:absolute;
  background:#00aff0; 
  transition:0.5s ease all; 
  -moz-transition:0.5s ease all; 
  -webkit-transition:0.5s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}
#formUsername:focus ~ .bar:before, #formUsername:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

#formPassword:focus 		{ outline:none; }

#formPassword:focus ~ label, #formPassword:valid ~ label 		{
  top:-10px;
  font-size:14px;
  color:#00aff0;
} 

#formPassword:focus ~ .bar:before, #formPassword:focus ~ .bar:after {
  width:50%;
}

#forgot-password{
    color: #777;
    text-decoration: none;
    cursor: pointer;
}


.footer{
    position:relative;
    margin: 0;
    padding: 0;
    width: 100%;
    bottom: -320px;
}

    .footer-bottom{
    background-color: #00384c;
    width: 100%;
    }

    .copyright{
        display: inline-block;
        position: relative;
        left: 10%;
        color: #aaa;
        font-size: 15px;
        font-family: "Roboto Slab"; 
        margin: 0;
        padding: 20px;
    }

@media only screen and (max-width:500px){
    .copyright{
        display: block;
        padding: 0;
        padding: 10px 0px 0px 10px;
        font-size: 14px;
        left: 0;
    }
    #adjustment-for-mobile{
        padding-bottom: 10px;
    }
}

/*modal loading*/

.modal-content-loader {
    background-color: #fefefe;
    margin: auto;
/*    padding: 20px;*/
/*    border: 1px solid #888;*/
    width: auto;
}

.modal-loader {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#preloader {
	position:fixed;
    width: 80px;
    height: 80px;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#preloader span {
	position:absolute;
	border: 8px solid #00aff0;
	border-top: 8px solid transparent;
	border-radius:999px;
}

#preloader span:nth-child(1){
	width:80px;
	height:80px;
	animation: spin-1 2s infinite linear;
}
#preloader span:nth-child(2){
	top: 20px;
	left: 20px;
	width:40px;
	height:40px;
	animation: spin-2 1s infinite linear;
}

@keyframes spin-1 {
	0% {transform: rotate(360deg); opacity: 1;}
	50% {transform: rotate(180deg); opacity: 0.5;}
	100% {transform: rotate(0deg); opacity: 1;}
}
@keyframes spin-2 {
	0% {transform: rotate(0deg); opacity: 0.5;}
	50% {transform: rotate(180deg); opacity: 1;}
	100% {transform: rotate(360deg); opacity: 0.5;}
}

